<article>
  <h1>Shopping List</h1>

  <section>
    <p>Amount of food items to buy: <span id="amount"><%= @list_count || 0 %></span></p>
    <p>Total value of food needed: <span id="total">$<%= @total_price || 0 %></span></p>
  </section>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Food</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
    </thead>

    <tbody>
      <% if @list_count > 0 %>
        <% @list.each do |item| %>
          <tr>
            <td><%= item.name %></td>
            <%
=begin%>
 <td><%= item.quantity %></td> 
<%
=end%>
            <td><%= item.price %> <%= item.measurement_unit %>(s)</td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan="5">No items to display</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</article>
