<section>
  <% if @recipes.length > 0 %>
    <% @recipes.each do |recipe| %>
      <article>
        <% if recipe.image %>
          <div>
            <%= image_tag recipe.image %>
            <img src=<%= recipe.image %> alt="<%= recipe.name %>">
          </div>
        <% end %>
        <div>
          <h2><%= recipe.name %></h2>
        </div>
        <div>
          <p>Total food items: <%= @recipe_count || 0 %></p>
          <p>Total price: $<%= @recipe_price || 0 %></p>
        </div>
      </article>
      <article>
        <p>By <%= recipe.user.name %></p>
      </article>
      <%= link_to 'View Recipe', public_recipe_path(recipe) %>
    <% end %>
  <% else %>
    <article>
      <p>There are no recipes available.</p>
    </article>
  <% end %>
</section>