<%= form_with(model: food) do |form| %>
  <% if food.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(food.errors.count, "error") %> prohibited this food from being saved:</h2>

      <ul>
        <% food.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>All fields marked with an asterisk(*) are required.</p>
  <%= form.label :name, "Name *" %>
  <%= form.text_field :name, placeholder: "Enter the name of your food", required: true %>

  <%= form.label :description %>
  <%= form.text_area :description, placeholder: "Tell us more about it" %>

  <%= form.label :price %>
  <%= form.number_field :price, placeholder: "How much does it cost?" %>

  <%= form.label :measurement_unit, "Choose measuring unit *" %>
  <%= form.select :measurement_unit, [['grams', 'g'], ['kilograms', 'kg'], ['milligrams', 'ml'], ['liter', 'l'], ['ounces', 'oz'], ['pound', 'lb'], ['cup', 'cup'], ['pint', 'pint'], ['quart', 'quart'], ['gallon', 'gallon']], {:include_blank => "-", :required => true}, {:class => 'form-control'} %>

  <%= form.label :image %>
  <%= form.text_field :image, placeholder: "Enter the URL of the image" %>
  
  <div class="form-group mt-3">
    <%= form.submit '🥣 Add Food', class: "btn", data: {disable_with: "Loading..."} %>
  </div>
<% end %>
