<%= form_with(model: recipe_food) do |form| %>
  <% if recipe_food.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe_food.errors.count, "error") %> prohibited this recipe_food from being saved:</h2>

      <ul>
        <% recipe_food.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity %>
  </div>

  <div class="field">
    <%= form.label :recipe %>
    <%= form.text_field :recipe %>
  </div>

  <div class="field">
    <%= form.label :food %>
    <%= form.text_field :food %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
